<div class="container-interno">
<div class="jumbotron">
  <h3 class="display-4">Próximos eventos!</h3>
  <p class="lead">Hacienda Primera Escritura, se llevará a cabo en San Pedro de Las Manzanas, Puebla del 25 al 31 de Septiembre.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Saber más...</a>
  <hr class="my-4">
  <p>Taller de 4to y. 5to paso, impartido por el psicologo y psiquiatra Sigmund Freud del 25. al 25 de Octubre.</p>
  <a class="btn btn-primary btn-sm" href="#" role="button">Saber más...</a>
  <hr class="my-4">
  <p>Taller de 8to y. 9to paso, impartido por el Centro gnostico de San Bernardino de Asis, Guanajuato, Gto.</p>
  <a class="btn btn-primary btn-sm" href="#" role="button">Saber más...</a>
</div>

<div class="media">
    
  <div class="media-body">
    <h5 class="mt-0">Seguimiento a Internos</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>

<div class="media">
   
  <div class="media-body">
    <h5 class="mt-0">Calendario Aplicación de exámenes</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>
</div>